{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}

<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './Hospital_files/logo.png' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="mm-active">
            <a aria-expanded="false" class="active" class="active" href="/Phy_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                Dashboard
            </a>

        </li>

        <li class="side_menu_title">
            <span>Function</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i style="color:green;" class="fas fa-cart-plus"></i>
                <span>Orders<i class="fal fa-chevron-down"
                                      style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a href="/Phy_admin/View_all_new_booking/">View All New Orders</a></li>
                <li><a href="/Phy_admin/view_all_comfirm_booking/">View Conform Order</a></li>
                <li><a href="/lab_admin/#table_sub_2">View Today Orders</a></li>
                <li><a href="/Phy_admin/lab_admin/#table_sub_2">View Complete Orders</a></li>

            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i style="color:green;" class="fas fa-engine-warning"></i>
                <span style="font-size:14px;">Medicine Expiry Alert<i class="fal fa-chevron-down"
                                                                        style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_samplest/">View All Expiry Medicine</a></li>
                <li><a href="/add_new_Samplest/">Expiring Soon</a></li>
            </ul>
        </li>


        <li class="">
            <a aria-expanded="false" href="#">
                <i style="color:green;" class="far fa-capsules"></i>
                <span style="font-size:14px;">Products/Medicines<i class="fal fa-chevron-down"
                                                                        style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_samplest/">View All Medicine</a></li>
                <li><a href="/add_new_Samplest/">ADD New Medicine</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i style="color:green;" class="fad fa-biking-mountain"></i>
                <span style="font-size:14px;">Local Rider<i class="fal fa-chevron-down"
                                                                        style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_samplest/">View All your Rider</a></li>
                <li><a href="/add_new_Samplest/">ADD New Rider</a></li>
            </ul>
        </li>


    </ul>
</nav>
<!-- sidebar part end -->
<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <!--                                <div class="search_field">-->
                                <!--                                    <input id="tag" placeholder="Search here..." type="text">-->
                                <!--                                </div>-->

                                <!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
                                <!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            {% if Current_pharmacy.img %}
                            <img alt="#" src='/media/{{Current_pharmacy.img}}'>
                            {% else %}
                            <img alt="" src="{% static 'pharmacy_profile.jfif' %}">
                            {% endif %}
                            <div class="profile_info_iner">
                                <p>{{Current_pharmacy.Pharmacy_name}}</p>
                                <h5>{{Current_pharmacy.city}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Phy_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">
                        {% if error %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-danger">
                                <div class="toast-body ">
                                    {{error}}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% elif success %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-success">
                                <div class="toast-body ">
                                    {{success}}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% endif %}

                        {% for i in phy_profile %}
                        <div class="table-responsive">
                            <table class="table w-100 table-borderless">
                                <tbody>
                                <tr align="center">
                                    {% if i.img %}
                                    <td colspan="2"><img src="/media/{{ i.img }}"
                                                         style="width:150px;border-radius:50%;height:150px;"></td>
                                    {% else %}
                                    <td colspan="2">
                                        <img alt="" src="{% static 'pharmacy_profile.jfif' %}"
                                                         style="width:100px;border-radius:50%;"></td>
                                    {% endif %}
                                </tr>
                                <tr align="center">
                                    <td align="center" colspan="2">
                                        <div class="btn-block">
                                            <a class="mr-1 delete-record-link"
                                               data-toggle="modal" href="#Change_lab_img">
                                                <button class='button btn' style="background-color:#49738f;color:white;width:200px"
                                                        type="submit">
                                                    <b>Change Profile Image</b></button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr style="background-color:#49738f;">
                                    <td align="center" colspan="2"><b style="color:white;">Personal Detail</b></td>
                                </tr>
                                <tr align="center">
                                    <td align="right" class="col-6">Pharmacy Name:</td>
                                    <td align="left" class="col-6">
                                        <div id="username_frame">
                                            {{i.Pharmacy_name}}
                                            <button class="btn">
                                                <i class="far fa-edit fa" id="username" style="color:green;"></i>
                                            </button>
                                        </div>

                                        <div id="username_edit_frame">
                                            <form action="/updates_Phy_profile/" method="POST">
                                                {% csrf_token %}
                                                <input name="username" required style="width:70%;" type="text"
                                                       value="{{i.Labname}}"/>
                                                <button class="btn btn-outline-success">
                                                    <i class="fas fa-check-circle fa-md-2x" id="username_edit"
                                                       style="height:2vh;"></i>
                                                </button>
                                            </form>
                                        </div>
                                </tr>
                                <tr>
                                    <td align="right">Email Address:</td>
                                    <td align="left">{{i.email}}</td>
                                </tr>
                                <tr>
                                    <td align="right">Phone Number:</td>
                                    <td align="left">
                                        <div id="Phone_frame">
                                            +92{{i.Callnumber}}
                                        <button class="btn">
                                            <i class="far fa-edit fa" id="phone" style="color:green;"></i>
                                        </button>
                                        </div>

                                        <div id="Phone_edit_frame">
                                            <form action="/updates_Phy_profile/" method="POST">
                                                {% csrf_token %}
                                                <input name="phone"  required style="width:70%;"  type="number"
                                                       value="{{i.Callnumber}}"
                                                       class="no-arrow" maxlength="10"
                                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />

                                                <button class="btn btn-outline-success">
                                                    <i class="fas fa-check-circle fa-md-2x" id="Phone_edit"
                                                       style="height:2vh"></i>
                                                </button>
                                            </form>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td align="right">Pharmacy Address:</td>
                                    <td align="left">
                                        <div id="Address_frame">
                                            {{i.Address}}
                                            <button class="btn">
                                                <i class="far fa-edit fa" id="Address" style="color:green;"></i>
                                            </button>
                                        </div>

                                        <div id="Address_edit_frame">
                                            <form action="/updates_Phy_profile/" method="POST">
                                                {% csrf_token %}
                                                <textarea name="Address" required style="width:70%;" rows="4">{{i.Address}}
                                                </textarea>
                                                <button class="btn btn-outline-success" style="margin-top:-100px;">
                                                    <i class="fas fa-check-circle fa-md-2x" id="Address_edit"
                                                       style="height:2vh"></i>
                                                </button>
                                            </form>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr style="background-color:#49738f;">
                                    <td align="center" colspan="2"><b style="color:white;">Change Password</b></td>
                                </tr>

                                <form action="/Phy_profile/" method="POST">
                                    {% csrf_token %}
                                    <tr>
                                        <td align="right">
                                            <label>Current Password:</label>
                                        </td>
                                        <td align="left">
                                            <input name="C_pass" placeholder="Current Password" required
                                                   type="password">
                                        </td>
                                    </tr>
                                    <tr align="center">
                                        <td align="right">
                                            <label>New Password:</label>

                                        </td>
                                        <td align="left">
                                            <input name="New_password" placeholder="Enter New Password" required
                                                   type="password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label>Conform Password:</label>
                                        </td>
                                        <td align="left">
                                            <input name="NConform_pass" placeholder="Enter Confirm Password" required
                                                   type="password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="2">
                                            <div class="btn-block">
                                                <button class='button  btn' style="background-color:#49738f;width:200px;"
                                                        type="submit"><b
                                                        style="color:white;">Change
                                                    Password</b></button>
                                            </div>
                                        </td>
                                    </tr>
                                </form>
                                </tbody>
                            </table>
                        </div>

                        {% endfor %}
                        <script type="text/javascript">
                            var targetDiv = document.getElementById("username_edit_frame");
                            var btn = document.getElementById("username");
                            var username_frame = document.getElementById("username_frame")
                            var username_edit = document.getElementById("username_edit")

                            var Address_edit_frame = document.getElementById("Address_edit_frame");
                            var Address_btn = document.getElementById("Address");
                            var Address_frame = document.getElementById("Address_frame")
                            var Address_edit = document.getElementById("Address_edit")


                            var Phone_edit_frame = document.getElementById("Phone_edit_frame");
                            var Phone_btn = document.getElementById("phone");
                            var Phone_frame = document.getElementById("Phone_frame")
                            var Phone_edit = document.getElementById("Phone_edit")

                             targetDiv.style.display = "none";
                             Address_edit_frame.style.display = "none";
                             Phone_edit_frame.style.display = "none";


                            btn.onclick = function () {
                              if (targetDiv.style.display !== "none") {
                                targetDiv.style.display = "none";
                                username_frame.style.display = "block";

                              } else {
                                targetDiv.style.display = "block";
                                username_frame.style.display = "none";
                              }
                            };


                            Address_btn.onclick = function () {
                              if (Address_edit_frame.style.display !== "none") {
                                Address_edit_frame.style.display = "none";
                                Address_frame.style.display = "block";

                              } else {
                                Address_edit_frame.style.display = "block";
                                Address_frame.style.display = "none";
                              }
                            };



                            Phone_btn.onclick = function () {
                              if (Address_edit_frame.style.display !== "none") {
                                Phone_edit_frame.style.display = "none";
                                Phone_frame.style.display = "block";

                              } else {
                                Phone_edit_frame.style.display = "block";
                                Phone_frame.style.display = "none";
                              }
                            };



                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" class="modal" id="Change_lab_img" role="dialog"
         tabindex="-1">
        <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button aria-label="Close" class="btn-close" data-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body tab-content">
                    <h5 class="text-center">Select New Image </h5>
                    <div class="table-responsive">
                        <table class="table width:100% align-middle">
                            <form action="/Phy_profile_img/" enctype="multipart/form-data"
                                  method="POST">
                                {% csrf_token %}
                                <tr align="center">
                                    <td align="center"><h6 style="color:green">
                                        <input accept="image/*" name="image" required type="file">
                                    </h6>
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>
                                        <input class="btn btn-info" style="color:white;" type="submit" value="Change"/>
                                    </td>
                                </tr>
                            </form>
                        </table>
                        <br/>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
