{% include "Admin_site/admin_header.html" %}
{% load static %}
<body class="crm_body_bg">


<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './Hospital_files/logo.png' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="">
            <a aria-expanded="false" class="active" class="active" href="/Phy_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                Dashboard
            </a>

        </li>

        <li class="side_menu_title">
            <span>Function</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-cart-plus" style="color:green;"></i>
                <span>Orders<i class="fal fa-chevron-down"
                               style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_new_Orders/">View All New Orders</a></li>
                <li><a href="/view_all_comfirm_Orders/">View Conform Order</a></li>
                <li><a href="/Phy_admin/#table_sub_2">View Today Orders</a></li>
                <li><a href="/view complete orders/">View Complete Orders</a></li>

            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-engine-warning" style="color:green;"></i>
                <span style="font-size:14px;">Medicine Expiry Alert<i class="fal fa-chevron-down"
                                                                      style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_Expiry Medicine/">View All Expiry Medicine</a></li>
                <li><a href="/View Expiring Soon/">Expiring Soon</a></li>
            </ul>
        </li>


        <li class="mm-active">
            <a aria-expanded="True" href="#">
                <i class="far fa-capsules" style="color:green;"></i>
                <span style="font-size:14px;">Products/Medicines<i class="fal fa-chevron-down"
                                                                   style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a class="active" href="/View_all_Medicine/">View All Medicine</a></li>
                <li><a href="/add_new_Medicine/">ADD New Medicine</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fad fa-biking-mountain" style="color:green;"></i>
                <span style="font-size:14px;">Local Rider<i class="fal fa-chevron-down"
                                                            style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_samplest/">View All your Rider</a></li>
                <li><a href="/add_new_Samplest/">ADD New Rider</a></li>
            </ul>
        </li>


    </ul>
</nav>
<!-- sidebar part end -->
<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <!--                                <div class="search_field">-->
                                <!--                                    <input id="tag" placeholder="Search here..." type="text">-->
                                <!--                                </div>-->

                                <!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
                                <!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            {% if Current_pharmacy.img %}
                            <img alt="#" src='/media/{{Current_pharmacy.img}}'>
                            {% else %}
                            <img alt="" src="{% static 'pharmacy_profile.jfif' %}">
                            {% endif %}
                            <div class="profile_info_iner">
                                <p>{{Current_pharmacy.Pharmacy_name}}</p>
                                <h5>{{Current_pharmacy.city}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Phy_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">


                <!--View All Medicine Details-->
                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">

                        {% if messages %}

                        {% for message in messages %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-success">
                                <div class="toast-body ">
                                    {{ message }}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% endfor %}

                        {% endif %}
                        {% if error_message %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-danger">
                                <div class="toast-body ">
                                 {{name}} is {{error_message}}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% elif success %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-success">
                                <div class="toast-body ">
                                  {{name}} is {{success}}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% endif %}
                            <br><br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="examples">
                                <h2 class="text-center"><b>List of All Medicine</b></h2>
                                <p class="text-center">(Expect Expiry Medicine)</p>
                                <thead>
                                <tr align="center">
                                    <th scope="col">#</th>
                                    <th scope="col">Medicine Name</th>
                                    <th scope="col">Price</th>
                                    <th hidden>Expiry Date</th>
                                    <th scope="col">View Detail</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody align="center">
                                {% for i in all_Medicine %}
                                <tr align="center">
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td align="center">{{i.Medicine_name}}</td>
                                    <td align="center">{{i.Medicine_price}}</td>
                                    <td align="center" hidden>{{i.Medicine_Expiry_date}}</td>
                                    <td><a class="mr-1 helpline-number-link"
                                           data-toggle="modal" href="#view-detail{{i.id}}"
                                           style="height:38px;width: 55px;margin-right: 10px; ">
                                        <img alt="" src='{% static  "view-details.png" %}' style="width:30px;">
                                    </a></td>
                                    <td><a class="mr-5 updated-record-link"
                                           data-toggle="modal" href="#update{{i.id}}">
                                        <i class="far fa-edit fa-2x" style="color:green;"></i>
                                    </a>
                                        <a class="mr-1 delete-record-link"
                                           data-toggle="modal" href="#delete{{i.id}}">
                                            <i class="fas fa-trash-alt fa-2x" style="color:red;"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            {% for i in all_Medicine%}
                            <!-- Popup for view detail-->
                            <div aria-hidden="true" class="modal" id="view-detail{{i.id}}" role="dialog" tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 20px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Medicine Details</h5>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine ID </h6>
                                                        </th>
                                                        <th class="col-6"><h6 style="color:green">0{{i.id}} </h6>
                                                        </th>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Name</h6>
                                                        </th>
                                                        <td>{{i.Medicine_name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Price</h6></th>
                                                        <td>{{i.Medicine_price}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Expiry Date</h6></th>
                                                        <td>{{i.Medicine_Expiry_date}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Total Available Stock</h6></th>
                                                        <td>{{i.Total_Stock}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Packaging</h6></th>
                                                        <td>{{i.Medicine_packaging}}</td>
                                                    </tr>


                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- delete for Delete Medicine -->
                            <div aria-hidden="true" class="modal" id="delete{{i.id}}" role="dialog" tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure delete this Medicine </h5>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Name</h6>
                                                        </th>
                                                        <td>{{i.Medicine_name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <form action="/Medicine delete/" method="post">
                                                                {% csrf_token%}
                                                            <h4>
                                                                <input type="text" name="name" value="{{i.Medicine_name}}" hidden/>
                                                                <input type="number" name="id" value="{{i.id}}" hidden/>
                                                                <button class="btn btn-danger"
                                                                        style="font-family:sans-serif;">
                                                                    Delete
                                                                </button>
                                                            </h4>
                                                            </form>
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Edit for Edit Medicine Updated -->
                            <div aria-hidden="true" class="modal" id="update{{i.id}}" role="dialog" tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">Edit this Medicine record</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Name</h6>
                                                        </th>
                                                        <td>{{i.Medicine_name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <form action="/Update Medicine/" method="get" >
                                                                {% csrf_token %}
                                                            <h4>
                                                                <input type="number" name="id" value="{{i.id}}" hidden>

                                                                <button class="btn btn-success"  type="submit" style="font-family:sans-serif;">
                                                                    Update Record
                                                                </button>
                                                            </h4>
                                                            </form>
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


<!--<script src="https://code.jquery.com/jquery-3.6.0.slim.js"-->
<!--        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="-->
<!--        crossorigin="anonymous"></script>-->
<!-- popper js -->
<script src='{% static "Hospital_files/popper.min.js.download" %}'></script>
<!-- sidebar menu  -->
<script src='{% static "Hospital_files/metisMenu.js.download" %}'></script>
<!-- waypoints js -->
<script src='{% static "Hospital_files/jquery.waypoints.min.js.download" %}'></script>
<!-- waypoints js -->
<!--<script src='{% static "Hospital_files/Chart.min.js.download" %}'></script>-->
<!-- counterup js -->
<script src='{% static "jquery.counterup.min.js.download" %}'></script>
<!-- swiper slider js -->
<script src='{% static "Hospital_files/swiper.min.js.download" %}'></script>
<!-- nice select -->
<script src='{% static  "Hospital_files/jquery.nice-select.min.js.download" %}'></script>
<!-- owl carousel -->
<script src='{% static  "Hospital_files/owl.carousel.min.js.download" %}'></script>

<!-- tag input -->
<script src='{% static "Hospital_files/tagsinput.js.download" %}'></script>
<!-- text editor js -->
<script src='{% static "Hospital_files/summernote-bs4.js.download" %}'></script>


<!-- custom js -->
<script src='{% static "custom.js.download" %}'></script>


</body>
