{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}

<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './logo/takecare_logo-1.PNG' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="mm-active">
            <a aria-expanded="false" class="active" href="/lab_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                Dashboard
            </a>

        </li>

        <li class="side_menu_title">
            <span>Function</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fal fa-vial"></i>
                <span>Test Bookings<i class="fal fa-chevron-down"
                                      style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_new_booking/">View All New Booking</a></li>
                <li><a href="/view_all_comfirm_booking/">View Conform Booking</a></li>
                <li><a href="/lab_admin/#table_sub_2">View Today Booking</a></li>

            </ul>
        </li>


        <li>
            <a aria-expanded="false" href="#">
                <i class="fas fa-procedures"></i>
                <span>Test List<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a href="/view_test_list/">View All Test list </a></li>
                <li><a href="/Add_new_test/">ADD New Test</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fal fa-vial"></i>
                <span style="font-size:12px;">Sample Collecting Staff<i class="fal fa-chevron-down"
                                                                        style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_samplest/">View All Staff</a></li>
                <li><a href="/add_new_Samplest/">ADD New Staff</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fal fa-vial"></i>
                <span>Upload Test Report</span>
            </a>
        </li>

    </ul>
</nav>
<!-- sidebar part end -->
<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <!--                                <div class="search_field">-->
                                <!--                                    <input id="tag" placeholder="Search here..." type="text">-->
                                <!--                                </div>-->

                                <!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
                                <!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            <img alt="#" src='/media/{{current_lab.img}}'>
                            <div class="profile_info_iner">
                                <p>{{current_lab.Labname}}</p>
                                <h5>{{current_lab.city}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Lab_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/lab_admin//Logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">

                <div class="col-lg-12">
                    <div class="single_element">
                        <div class="quick_activity">
                            <div class="row">
                                <div class="col-12">
                                    <div class="quick_activity_wrap ">
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon" style="color:skyblue;">
                                                <i class="fal fa-vials fa-4x"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Test_pending}}</span></h3>
                                                <p style="font-size:14px;">New Test Requests</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">
                                                <i class="far fa-tint fa-4x" style="color:purple;"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Test_conform}}</span></h3>
                                                <p>Conform Test</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">
                                                <i class="fas fa-vial fa-4x" style="color:green"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Test_today}}</span></h3>
                                                <p style="font-size: 14px;">Sample Collect Today</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon" style="color:red;">
                                                <i class="fal fa-flask fa-4x"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Test_col}}</span></h3>
                                                <p style="font-size:14px;">Sample Collected Today</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">

                                                <img alt="" src='{% static "./Hospital_files/cap.svg" %}'>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Test_count}}</span></h3>
                                                <p style="font-size:14px;">Total Available Tests</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">
                                                <i class="fas fa-diagnoses fa-4x" style="color:blue;"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{tol_Samplest}}</span></h3>
                                                <p style="font-size:14px;">Total Samplest</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">
                        <div class="box_header border_bottom_1px  ">
                            <div class="main-title">
                                <h3 class="mb_25">Lab Test Booking Survey</h3>
                            </div>
                        </div>

                        <div class="income_servay">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="count_content">
                                        <h3><span class="counter">{{Test_today}}</span></h3>
                                        <p>Today's Booking</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="count_content">
                                        <h3><span class="counter">{{Test_mouth}}</span></h3>
                                        <p>This Month's Booking</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="count_content">
                                        <h3><span class="counter">{{Test_year}}</span></h3>
                                        <p>This Year's Booking</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">
                         <div class="table-responsive" id="table_sub_2">
                            <table class="table table-bordered table-hover" align="center" id="examples"
                            style="font-family:sans-serif;font-size:13px;">
                            {% if error_message %}
                            <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                                 role="alert">
                                <div class="d-flex alert-danger">
                                    <div class="toast-body ">
                                        {{error_message}}
                                    </div>
                                    <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                            type="button"></button>
                                </div>
                            </div>
                            {% elif success %}
                            <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                                 role="alert">
                                <div class="d-flex alert-success">
                                    <div class="toast-body ">
                                        {{success}}
                                    </div>
                                    <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                            type="button"></button>
                                </div>
                            </div>
                            {% endif %}

                            <br><br>

                            <thead>
                            <tr align="center">
                                <th colspan="10"><h2>Today Test Appointments</h2></th>
                            </tr>
                            </thead>
                            <thead>
                            <tr align="center">
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Book Test</th>
                                <th scope="col">Test ID</th>
                                <th scope="col">Test Date</th>
                                <th scope="col">Test Type</th>
                                <th scope="col">Status</th>
                                <th scope="col">Assign to Samplest</th>
                                <th scope="col">Payment</th>
                                <th scope="col">View Detail</th>
                            </thead>
                            <tbody>
                            {% for i in Test_conform_booking_today %}
                            {% if i.status != "Pending" and i.status != "Dispatch" %}

                            <tr align="center">
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{i.Patient_Name}}</td>
                                <td>{{i.Book_Test.Test_name}}</td>
                                <td>{{i.id}}</td>
                                <td>
                                    {{i.Test_date}}
                                </td>
                                <td>
                                    {{i.Test_Type}}
                                </td>

                                <td>

                                    {% if i.status == 'Sample Collected'%}
                                    {{i.status}}<br>
                                    <a class="mr-1 delete-record-link"
                                       data-toggle="modal" href="#upload_report{{i.id}}">
                                        <button class="btn-success btn mt-2" type="button">Upload Report</button>
                                    </a>
                                    {% elif i.status == 'Conform'%}
                                    {{i.status}}<br>
                                    <a class="mr-5 Change-Samplest-link"
                                       data-toggle="modal" href="#Samplest_Collected{{i.id}}">
                                        <button class="  btn-dark btn mt-2 " type="button">Sample Collected</button>
                                    </a>
                                    {% elif i.status == 'Test Report'%}
                                    <p class="btn btn-success">Completed</p>
                                    {% endif %}
                                </td>

                                <td align="center">

                                    {{i.Samplest.name}}<br>
                                    {% if i.Samplest.name and i.status != 'Test Report'%}
                                    <a class="mr-5 Change-Samplest-link"
                                       data-toggle="modal" href="#Change_Samplest{{i.id}}">
                                        <button class="  btn-success btn mt-2 " type="button">Change Samplest</button>
                                    </a>
                                    {% endif %}
                                </td>
                                <td>

                                    {% if i.payment == 'Pending' %}
                                    <b>{{i.payment}}..</b><br>
                                    <a class="mr-1 delete-record-link"
                                       data-toggle="modal" href="#Payment_received{{i.id}}">
                                        <button class="btn-warning btn mt-2" type="button">Received</button>
                                    </a>
                                    {% else %}
                                    <h3 class="badge bg-success text-wrap btn " style="border-radius: 30px;">
                                        {{i.payment}}</h3>
                                    {% endif %}

                                </td>
                                <td><a class="mr-1 helpline-number-link"
                                       data-toggle="modal" href="#view-details{{i.id}}"
                                       style="height:38px;width: 55px;">
                                    <img alt="" src='{% static  "view-details.png" %}' style="width:30px;">
                                </a></td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                            </tbody>

                        </table>
                         </div>
                        {% for i in Test_conform_booking_today %}
                        <div aria-hidden="true" class="modal" id="view-details{{i.id}}" role="dialog"
                             tabindex="-1">
                            <div class="modal-dialog p-3" role="document" style="margin-top: 30px;">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body tab-content">
                                        <h5 class="text-center">Lab Test Booking Details</h5>
                                        <div class="table-responsive">
                                            <table class="table width:100% align-middle">
                                                <tbody>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Patient Name </h6>
                                                    </th>
                                                    <th class="col-6"><h6 style="color:green">
                                                        {{i.Patient_Name}} </h6>
                                                    </th>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Phone No</h6>
                                                    </th>
                                                    <td>0{{i.Phone}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Test Price</h6></th>
                                                    <td>{{i.Book_Test.test_price}}/- Rs only</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Status</h6></th>
                                                    <td>{{i.status}}</td>
                                                </tr>
                                                {% if i.Test_Type == "Lab Visit" %}
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Test Type</h6>
                                                    </th>
                                                    <td>Lab Visit</td>
                                                </tr>
                                                {% else %}
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Test Type</h6>
                                                    </th>
                                                    <td>Home Sampling</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Patient Address</h6>
                                                    </th>
                                                    <td>{{i.Address}}</td>
                                                </tr>
                                                {% endif %}


                                                </tbody>
                                            </table>
                                            <br/>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" class="modal" id="Change_Samplest{{i.id}}" role="dialog"
                             tabindex="-1">
                            <div class="modal-dialog p-3" role="document" style="margin-top: 50px;">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body tab-content">
                                        <h5 class="text-center">Are you sure </h5>
                                        <p class="text-center">Change This Test Samplest</p>
                                        <div class="table-responsive">
                                            <table class="table width:100% align-middle">
                                                <tbody>

                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Patient Name</h6>
                                                    </th>
                                                    <td>{{i.Patient_Name}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                    </th>
                                                    <td>{{i.Book_Test.Test_name}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th colspan="2">
                                                        {% if i.Test_Type == 'home sample'%}
                                                        <h4>
                                                            <form action="/lab_admin/"
                                                                  method="POST">
                                                                {% csrf_token %}

                                                                <input hidden name="name" type="text"
                                                                       value="conform"/>
                                                                <input hidden name="id" type="text"
                                                                       value="{{i.id}}"/>

                                                                <label>Please Select Sample Who can Take
                                                                    Sample</label>
                                                                <select aria-label="Default select example"
                                                                        class="form-select" name="Select_samplest"
                                                                        required>
                                                                    {% for i in samplest%}
                                                                    {% if i.is_Active == True %}
                                                                    <option value="{{i.name}}">
                                                                        {{i.name}}
                                                                    </option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                                <button class="btn btn-success"
                                                                        style="font-family:sans-serif;"
                                                                        type="submit">
                                                                    Conform this Appointment
                                                                </button>
                                                            </form>
                                                        </h4>
                                                        {% else %}
                                                        <h4>
                                                            <form action="/lab_admin/"
                                                                  method="POST">
                                                                {% csrf_token %}

                                                                <input hidden name="name" type="text"
                                                                       value="conform"/>
                                                                <input hidden name="id" type="number" value="{{i.id}}"/>
                                                                <select aria-label="Default select example"
                                                                        class="form-select"
                                                                        hidden name="Select_samplest">
                                                                    <option selected value="no_select"> no_select
                                                                    </option>
                                                                </select>
                                                                <button class="btn btn-success"
                                                                        style="font-family:sans-serif;"
                                                                        type="submit">
                                                                    Conform this Appointment
                                                                </button>
                                                            </form>
                                                        </h4>

                                                        {% endif %}
                                                    </th>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <br/>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" class="modal" id="Samplest_Collected{{i.id}}" role="dialog"
                             tabindex="-1">
                            <div class="modal-dialog p-3" role="document" style="margin-top: 50px;">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body tab-content">
                                        <h5 class="text-center">Are you sure </h5>
                                        <p class="text-center">Test Samplest is Collected</p>
                                        <div class="table-responsive">
                                            <table class="table width:100% align-middle">
                                                <tbody>

                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Patient Name</h6>
                                                    </th>
                                                    <td>{{i.Patient_Name}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                    </th>
                                                    <td>{{i.Book_Test.Test_name}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th colspan="2">
                                                        <h4>
                                                            <form action="/lab_admin/"
                                                                  method="POST">
                                                                {% csrf_token %}

                                                                <input hidden name="name" type="text"
                                                                       value="Samplest_Collected"/>
                                                                <input hidden name="id" type="text"
                                                                       value="{{i.id}}"/>

                                                                <button class="btn btn-success"
                                                                        style="font-family:sans-serif;"
                                                                        type="submit">
                                                                    Samplest is Collected
                                                                </button>
                                                            </form>
                                                        </h4>

                                                    </th>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <br/>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" class="modal" id="upload_report{{i.id}}" role="dialog"
                             tabindex="-1">
                            <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body tab-content">
                                        <h5 class="text-center">Upload Test Report </h5>
                                        <div class="table-responsive">
                                            <table class="table width:100% align-middle">
                                                <form action="/lab_admin/" enctype="multipart/form-data"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <tr align="center">
                                                        <td align="center"><h6 style="color:green">
                                                            <input accept=".pdf,.doc" name="image" required
                                                                   type="file">
                                                            <input hidden name="id" type="text" value="{{i.id}}"/>
                                                            <input hidden name="name" type="text" value="test_id"/>
                                                        </h6>
                                                        </td>
                                                    </tr>
                                                    <tr align="center">
                                                        <td>
                                                            <input class="btn btn-info" style="color:white;"
                                                                   type="submit" value="Upload Report"/>
                                                        </td>
                                                    </tr>
                                                </form>
                                            </table>
                                            <br/>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" class="modal" id="Payment_received{{i.id}}" role="dialog"
                             tabindex="-1">
                            <div class="modal-dialog p-3" role="document" style="margin-top: 50px;">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body tab-content">
                                        <h5 class="text-center">Are you sure </h5>
                                        <p class="text-center">You Received Payment</p>
                                        <div class="table-responsive">
                                            <table class="table width:100% align-middle">
                                                <tbody>

                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Patient Name</h6>
                                                    </th>
                                                    <td>{{i.Patient_Name}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                    </th>
                                                    <td>{{i.Book_Test.Test_name}}</td>
                                                </tr>
                                                <tr align="center">
                                                    <th class="col-6"><h6 style="color:green">Payment</h6>
                                                    </th>
                                                    <td>{{i.Book_Test.test_price}}/- Rs only</td>
                                                </tr>
                                                <tr align="center">
                                                    <th colspan="2">
                                                        <h4>
                                                            <form action="/lab_admin/"
                                                                  method="POST">
                                                                {% csrf_token %}

                                                                <input hidden name="name" type="text"
                                                                       value="Payment_received"/>
                                                                <input hidden name="id" type="text"
                                                                       value="{{i.id}}"/>

                                                                <button class="btn btn-success"
                                                                        style="font-family:sans-serif;"
                                                                        type="submit">
                                                                    Test Payment is received
                                                                </button>
                                                            </form>
                                                        </h4>

                                                    </th>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <br/>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% endfor %}
                    </div>
                </div>



            </div>
        </div>
    </div>

</section>

{% endblock %}
