{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}


<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './Hospital_files/logo.png' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="">
            <a aria-expanded="false" class="active" href="/lab_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                Dashboard
            </a>

        </li>

        <li class="side_menu_title">
            <span>Function</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fal fa-vial"></i>
                <span>Test Bookings<i class="fal fa-chevron-down"
                                      style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_new_booking/">View All New Booking</a></li>
                <li><a href="/view_all_comfirm_booking/">View Conform Booking</a></li>
                <li><a href="/lab_admin/#table_sub_2">View Today Booking</a></li>

            </ul>
        </li>


        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-procedures"></i>
                <span>Test List<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse ">
                <li><a href="/view_test_list/">View All Test list </a></li>
                <li><a href="/Add_new_test/">ADD New Test</a></li>
            </ul>
        </li>
        <li class="mm-active">
            <a aria-expanded="true" href="#">
                <i class="fal fa-vial"></i>
                <span style="font-size:12px;">Sample Collecting Staff<i class="fal fa-chevron-down"
                                                                        style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse mm-show">
                <li><a class="active" href="/View_all_samplest/">View All Staff</a></li>
                <li><a href="/add_new_Samplest/">ADD New Staff</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fal fa-vial"></i>
                <span>Upload Test Report</span>
            </a>
        </li>

    </ul>
</nav>
<!-- sidebar part end -->

<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <!--                                <div class="search_field">-->
                                <!--                                    <input id="tag" placeholder="Search here..." type="text">-->
                                <!--                                </div>-->

                                <!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
                                <!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            <img alt="#" src='/media/{{current_lab.img}}'>
                            <div class="profile_info_iner">
                                <p>{{current_lab.Labname}}</p>
                                <h5>{{current_lab.city}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Lab_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <!--View All Samplest Details-->
                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">

                        <div class="table-responsive">
                            <h2 align="center">View All Lab Sample Collector</h2>
                            {% if error_message %}
                            <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                                 role="alert">
                                <div class="d-flex alert-danger">
                                    <div class="toast-body ">
                                         {{error_message}}
                                    </div>
                                    <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                            type="button"></button>
                                </div>
                            </div>
                            {% elif success %}
                            <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                                 role="alert">
                                <div class="d-flex alert-success">
                                    <div class="toast-body ">
                                         {{success}}
                                    </div>
                                    <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                            type="button"></button>
                                </div>
                            </div>
                            {% endif %}

                            <br><br>

                            <table class="table table-bordered table-hover" align="center" id="examples"
                            style="font-family:sans-serif;font-size:13px;">
                                <thead>
                                <tr align="center">
                                    <th scope="col">#</th>
                                    <th scope="col">Samplest Name</th>
                                    <th scope="col">Call</th>
                                    <th scope="col">View Detail</th>
                                    <th scope="col">Actions</th>
                                    <th scope="col">Active/Deactivate</th>
<!--                                    <th scope="col">Assign Sample Collect</th>-->

                                </tr>
                                </thead>
                                <tbody align="center">
                                {% for i in samplest %}
                                <tr align="center">
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{i.name}}</td>
                                    <td>
                                        <button class="btn btn-info" onclick="location.href='tel:0{{i.Callnumber}}'"
                                                style="border:2px solid;color:white; " type="button">Call now
                                        </button>
                                    </td>
                                    <td align="center"><a class="mr-1 helpline-number-link"
                                           data-toggle="modal" href="#view-detail_samplest{{i.id}}"
                                           style="height:38px;width: 55px;">
                                        <img alt="" src='{% static  "view-details.png" %}' style="width:30px;">
                                    </a></td>
                                    <td><a class="mr-5 updated-record-link"
                                           data-toggle="modal" href="#update_samplest{{i.id}}">
                                        <i class="far fa-edit fa-2x" style="color:green;"></i>
                                    </a>
                                        <a class="mr-1 delete-record-link"
                                           data-toggle="modal" href="#delete_samplest{{i.id}}">
                                            <i class="fas fa-trash-alt fa-2x" style="color:red;"></i></a>
                                    </td>
                                    <td>
                                        {% if i.is_Active %}
                                        <label class="switchs">
                                            <a class="mr-1 helpline-number-link"
                                               data-toggle="modal" href="#Deactive_samplest{{i.id}}">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </a>
                                        </label>

                                        {% else %}
                                        <label class="switchs">
                                            <a class="mr-1 helpline-number-link"
                                               data-toggle="modal" href="#Active_samplest{{i.id}}"> <input checked
                                                                                                           type="checkbox">
                                                <span class="slider round"></span>
                                            </a>
                                        </label>
                                        {% endif %}
                                    </td>
<!--                                 <td align="center">{{i.assign_task}}</td>-->
                                </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            {% for i in samplest%}
                            <!-- Popup for view detail-->
                            <div aria-hidden="true" class="modal" id="view-detail_samplest{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Lab samplest Details</h5>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>
                                                    <tr align="center">
                                                        <th class="col-6" colspan="2"><img src="/media/{{ i.img }}"
                                                                                           style="height:10vh;">
                                                        </th>

                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">samplest Name </h6>
                                                        </th>
                                                        <th class="col-6"><h6 style="color:green">{{i.name}} </h6>
                                                        </th>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">CNIC No</h6>
                                                        </th>
                                                        <td>{{i.CNIC}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Phone No</h6></th>
                                                        <td>0{{i.Callnumber}}</td>
                                                    </tr>
                                                    {% if i.is_Active %}
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Status</h6>
                                                        </th>
                                                        <td>Activate</td>
                                                    </tr>
                                                    {% else %}
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Status</h6>
                                                        </th>
                                                        <td>Deactivate</td>
                                                    </tr>
                                                    {% endif %}


                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- delete for view detail -->
                            <div aria-hidden="true" class="modal" id="delete_samplest{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure delete this test </h5>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                        </th>
                                                        <td>{{i.name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <h4>
                                                                <form action="/Samplest_del/" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="text" name="name" value="{{i.name}}" hidden/>
                                                                    <input type="number" name="id" value="{{i.id}}" hidden/>
                                                                <button class="btn btn-danger" style="font-family:sans-serif;">
                                                                    Delete
                                                                </button>
                                                              </form>
                                                            </h4>
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Edit for view detail -->
                            <div aria-hidden="true" class="modal" id="update_samplest{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">Edit this Samplest record</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Samplest Name</h6>
                                                        </th>
                                                        <td>{{i.name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <h4><a href="/update_samplest/{{i.id}}">
                                                                <button style="color:white;background-color:green;border-radius:30px;outline:none;font-family:sans-serif;">
                                                                    Update Record
                                                                </button>
                                                            </a>
                                                            </h4>
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Active_samplest-->
                            <div aria-hidden="true" class="modal" id="Active_samplest{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">Active this test record</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                        </th>
                                                        <td>{{i.name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <h4>
                                                                <form action="/Status_samplest/" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="text" name="name" value="{{i.name}}" hidden/>
                                                                    <input type="number" name="id" value="{{i.id}}" hidden/>
                                                                <button class="btn btn-success" style="font-family:sans-serif;">
                                                                    Activate
                                                                </button>
                                                                </form>
                                                            </h4>
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Deactivate_samplest-->
                            <div aria-hidden="true" class="modal" id="Deactive_samplest{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">Deactivate this test record</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                        </th>
                                                        <td>{{i.name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <h4>
                                                                <form action="/Status_samplest/" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="text" name="name" value="{{i.name}}" hidden/>
                                                                    <input type="number" name="id" value="{{i.id}}" hidden/>
                                                                <button style="color:white;background-color:red;border-radius:20px;outline:none;font-family:sans-serif;">
                                                                    Deactivate
                                                                </button>
                                                                </form>
                                                            </h4>
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
