{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}

<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './logo/takecare_logo-1.PNG' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="/Super_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                <span>Dashboard</span>
            </a>

        </li>

        <li class="side_menu_title">
            <span>Users</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-procedures"></i>
                <span>Patient<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a href="/view_Patient_list/">View All Patients </a></li>
                <li><a href="/add_new_Patient/">ADD New Patient</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-user-md"></i>
                <span>Doctors<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/all_Register_doctor/">View All Doctors</a></li>
                <li><a href="/view_N_D/">New Doctor Request</a></li>
                <li><a href="/add_new_doctor/">ADD New Doctor</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-pills"></i>
                <span>Pharmacies<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View ALL Pharmacy/">View All Pharmacies</a></li>
                <li><a href="/ADD_New_Pharmacy/">ADD New pharmacy</a></li>
            </ul>
        </li>
        <li class="mm-active">
            <a aria-expanded="True" href="#">
                <i class="fal fa-vial"></i>
                <span>Laboratories<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a href="/View_all_labs/">View All Laboratories</a></li>
                <li><a class="active" href="/add_new_Laboratory/">ADD New Laboratory</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fad fa-biking-mountain" style="color:green;"></i>
                <span style="font-size:14px;">Rider<i class="fal fa-chevron-down"
                                                      style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_Rider/">View All your Rider</a></li>
                <li><a href="/add_new_Rider/">ADD New Rider</a></li>
                <li><a href="/Rider_Request/">View Rider Request</a></li>
            </ul>
        </li>

    </ul>
</nav>
<!-- sidebar part end -->

<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <!--                                <div class="search_field">-->
                                <!--                                    <input id="tag" placeholder="Search here..." type="text">-->
                                <!--                                    <script>-->
                                <!--                                            $(function () {-->
                                <!--                                                var availableTags = [-->
                                <!--                                                  {% for i in all_lab %}-->
                                <!--                                                       "{{i.Labname}}",-->
                                <!--                                                  {% endfor %}-->
                                <!--                                                  ];-->
                                <!--                                            $("#tag").autocomplete({-->
                                <!--                                                source: availableTags-->
                                <!--                                            });-->
                                <!--                                      } );-->


                                <!--                                    </script>-->

                                <!--                                </div>-->

                                <!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
                                <!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            {% for i in current_admin %}
                            {% if i.img %}
                            <img alt="#" src='/media/{{current_lab.img}}'>
                            {% else %}
                            <a><img alt="#" src="{% static  'deault_profile_image.png' %}" style="max-width:40px;"></a>
                            {% endif %}
                            {% endfor %}
                            <div class="profile_info_iner">
                                <p>{{current_lab.Username}}</p>
                                <h5>{{current_lab.email}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Lab_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Super_admin/Super_admin_logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">

                <!--Add New Patient Details-->
                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">


                        {% if error_message %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-danger">
                                <div class="toast-body ">
                                    {{error_message}}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% elif success %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-success">
                                <div class="toast-body ">
                                    {{success}}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% endif %}

                        <br><br>
                        <h2 class="text-center">Add New Laboratory</h2>
                        <div class="testbox">
                            <form action="/add_new_Laboratory/" autocomplete="on" class="form"
                                  enctype="multipart/form-data"
                                  method="POST">
                                {% csrf_token %}
                                <br/>
                                <div class="colums">

                                    <div class="item sa ">
                                        <label>Laboratory Name<span>*</span></label>
                                        <input name="name" required type="text"/>
                                    </div>
                                    <div class="item sa ">
                                        <label>Laboratory E-mail Address<span>*</span></label>
                                        <input name="email" placeholder="Enter E-mail" required type="email"/>
                                    </div>
                                    <div class="item sa ">
                                        <label>Password<span>*</span></label>
                                        <input name="password" required type="password"/>
                                    </div>
                                    <div class="item sa">
                                        <label>Phone Number<span>*</span></label>
                                        <input class="no-arrow"
                                               maxlength="10"
                                               name="phone"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               required type="number"/></div>

                                    <div class="item sa">
                                        <label>City<span>*</span></label>
                                        <select class="form-select form-select-md mb-3"
                                                name="city" required>
                                            <option value="">Select Your City</option>
                                            {% for i in all_city %}
                                            <option value="{{i.Lab_city_name}}">
                                                {{i.Lab_city_name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <div class="item" id="address">
                                    <label for="visit">Laboratory Address</label>
                                    <textarea id="visit" name='Address' rows="5"></textarea>
                                </div>
                                <div class="btn-block">
                                    <button class='button btn-info btn' type="submit">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
