{% load static %}

{% include "mainheader.html" %}
<head>
    <style>
    .page-banner-area {
      position: relative;
      height: 300px;
      display: flex;
      align-items: center;
      z-index: 1;
       background-image:url({% static 'Medicine_assets/img/banner/page-banner-4.jpg' %});
      background-size: cover;
      background-position: center;
      justify-content: center;
      background-position: center top;
      background-repeat: no-repeat;
    }
    .page-banner-area::before {
      position: absolute;
      content: "";
      background: #0e2641;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      z-index: -1;
    }


    </style>

</head>
<body>


<main>
        <!-- page-banner-area-start -->
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h4 class="breadcrumb-title">Blog Details</h4>
                        <div class="breadcrumb-two">
                            <nav>
                                <nav class="breadcrumb-trail breadcrumbs">
                                    <ul class="breadcrumb-menu">
                                        <li class="breadcrumb-trail">
                                            <a href="/"><span>Home</span></a>
                                        </li>
                                        <li class="trail-item">
                                            <span>Blog Details</span>
                                        </li>
                                    </ul>
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->

        <!-- news-detalis-area-start -->
        <div class="news-detalis-area mt-30 mb-70">
            <div class="container">
               <div class="row">
                  <div class="col-lg-10 col-12 col-sm-10">
                    <div class="news-detalis-content mb-50">
                        <ul class="blog-meta mb-20">
                           <li><a href="blog-details.html"><i class="fal fa-eye"></i>{{Blogs.Blog_View}} Views</a></li>
<!--                           <li><a href="blog-details.html"><i class="fal fa-comments"></i> 30 Comments</a></li>-->
                           <li><a href="blog-details.html"><i class="fal fa-calendar-alt"></i> {{Blogs.blog_create_time}}</a></li>
                        </ul>
                        <div class="news-thumb mt-40">
                           <img src="/media/{{Blogs.img}}" alt="blog">
                        </div>
                        <h2 class="news-title mt-60"><b>{{Blogs.Main_heading | title}}</b></h2>
                        <p data-width="120" class="mb-20 w-100">{{Blogs.Health_blogs_Detail | linebreaks}}</p>
                        <div class="news-info d-sm-flex align-items-center justify-content-between mt-50 mb-50">
                           <div class="news-share">
                              <h6 class="tag-title mb-25">Social Share</h6>
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-typo3"></i></a>
                              <a href="#"><i class="fab fa-tumblr"></i></a>
                              <a href="#"><i class="fal fa-share-alt"></i></a>
                           </div>
                        </div>
                        <div class="news-author mt-60">
                            {% if Blogs.Doctor.img %}
                           <img src="/media/{{Blogs.Doctor.img}}" alt="" class="img-fluid">
                            {% elif Blogs.Doctor.Gender == 'Female'%}
                            <img src='{% static "female_doctor_dp.jpg" %}' alt="" class="img-fluid">
                            {% else %}
                            <img src='{% static "male_doctor_dp.jpg" %}' alt="" class="img-fluid">
                            {% endif %}

                           <div class="news-author-info">
                              <span>Written by</span>
                              <h6 class="author-title">Dr.{{Blogs.Doctor}}</h6>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation is enougn for today. quis nostrud exercitation is enougn for.</p>
                           </div>
                        </div>
                        <div class="post-comments mt-60">
                           <h6 class="post-comment-title mb-40">03 Comments</h6>
                           <div class="latest-comments">
                                 <ul>
                                    <li>
                                       <div class="comments-box">
                                             <div class="comments-avatar">
                                                <img src="assets/img/blog/p-author-1.jpg" alt="">
                                             </div>
                                             <div class="comments-text">
                                                <div class="avatar">
                                                   <h6 class="avatar-name">Rosalina Kelian</h6>
                                                   <a href="#" class="comment-reply"><i class="fal fa-share"></i>Reply</a>
                                                </div>
                                                <span class="post-meta"><i class="fal fa-calendar-alt"></i> October 26, 2020</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                             </div>
                                       </div>
                                    </li>
                                    <li class="children">
                                       <div class="comments-box">
                                             <div class="comments-avatar">
                                                <img src="assets/img/blog/p-author-2.jpg" alt="">
                                             </div>
                                             <div class="comments-text">
                                                <div class="avatar">
                                                   <h6 class="avatar-name">Iqbal Hossain</h6>
                                                   <a href="#" class="comment-reply"><i class="fal fa-share"></i>Reply</a>
                                                </div>
                                                <span class="post-meta"><i class="fal fa-calendar-alt"></i> October 26, 2020</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco..</p>
                                             </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="comments-box">
                                             <div class="comments-avatar">
                                                <img src="assets/img/blog/p-author-3.jpg" alt="">
                                             </div>
                                             <div class="comments-text">
                                                <div class="avatar">
                                                   <h6 class="avatar-name">Arista Williamson</h6>
                                                   <a href="#" class="comment-reply"><i class="fal fa-share"></i>Reply</a>
                                                </div>
                                                <span class="post-meta"><i class="fal fa-calendar-alt"></i> October 26, 2020</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolo re magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                             </div>
                                       </div>
                                    </li>
                                 </ul>
                           </div>
                        </div>
                        <div class="post-comment-form mt-20">
                           <h4 class="post-comment-form-title mb-40">Post Comment</h4>
                           <form action="#">
                               <div class="input-field">
                                   <i class="fal fa-pencil-alt"></i>
                                   <textarea required name="comment" id="comment" placeholder="Type your comments...."></textarea>
                               </div>
                               <div class="input-field">
                                   <i class="fal fa-user"></i>
                                   <input type="text" required placeholder="Type your name....">
                               </div>
                               <div class="input-field">
                                   <i class="fal fa-envelope"></i>
                                   <input type="text"  readonly placeholder="Type your email....">
                               </div>
                               <button class="post-comment shutter-btn"><i class="fal fa-comments"></i>Post
                                   Comment</button>
                           </form>
                       </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- news-detalis-area-end  -->

    </main>

</body>
