{% load static %}
{% load cart_tag %}

{% include "mainheader.html" %}
<head>
    <style>
    .page-banner-area {
      position: relative;
      height: 300px;
      display: flex;
      align-items: center;
      z-index: 1;
       background-image:url({% static 'Medicine_assets/img/banner/page-banner-4.jpg' %});
      background-size: cover;
      background-position: center;
      justify-content: center;
      background-position: center top;
      background-repeat: no-repeat;
    }
    .page-banner-area::before {
      position: absolute;
      content: "";
      background: #0e2641;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      z-index: -1;
    }





    </style>
</head>

<body>
<main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h4 class="breadcrumb-title">Your Cart</h4>
                        <div class="breadcrumb-two">
                            <nav>
                                <nav class="breadcrumb-trail breadcrumbs">
                                    <ul class="breadcrumb-menu">
                                        <li class="breadcrumb-trail">
                                            <a href="/"><span>Home</span></a>
                                        </li>
                                        <li class="trail-item">
                                            <span>Cart</span>
                                        </li>
                                    </ul>
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!-- cart-area-start -->
    <section class="cart-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="product-price">Unit Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,value in request.session.cart.items %}
                                <tr id="id{{value.id}}">
                                    <td class="product-thumbnail">
                                        <img alt="" src="{{value.image}}" style="max-width:50%;">
                                    </td>
                                    <td class="product-name"><a href="shop-details.html">{{value.name}}</a></td>
                                    <td class="product-price"><span class="amount">{{value.price}}Rs</span></td>
                                    <td class="product-quantity">
                                        <div class="row col-12" style="width:100%;min-width:100px;">
                                            <div class="col-4">
                                                {% if value.quantity != 1%}
                                                <a class="text-center"
                                                   href="{% url 'item_decrement' value.product_id %}#id{{value.id}}">
                                                    <b>-</b>
                                                </a>
                                                {% endif %}
                                            </div>
                                            <div class="col-4 pt-2" style="background-color:gray;border-radius:25%;">
                                                <h6>{{value.quantity}}</h6>
                                                <!--                                                    <input class=" border-0 text-center"-->
                                                <!--                                                           style="float:left;padding:0;margin:0;"-->
                                                <!--                                                           disabled value="{{value.quantity}}"/>-->
                                            </div>
                                            <div class="col-4">
                                                <a class="text-center"
                                                   href="{% url 'item_increment' value.product_id %}#id{{value.id}}">
                                                    <b>+</b>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="amount">
                                            {{ value.price|multiply:value.quantity}} Rs
                                        </span>
                                    </td>
                                    <td class="product-remove">
                                        <a href="{% url 'item_clear' value.product_id %}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    <div class="col-12 col-sm-8" style="float:left;margin-top:0px;">
                                        <form method="GET" >
                                        <input class="input-text col-5 col-sm-5" id="coupon_code" name="coupon_code"
                                               placeholder="Coupon code" required
                                               type="text" value="" style="float:left;">
                                        <button class=" btn btn-info p-3 col-6 col-sm-5" type="submit" style="color:white;" name="apply_coupon" type="submit">Apply
                                            coupon
                                        </button>
                                        </form>
                                    </div>
                                    <div class="coupon col-12 col-sm-3" style="float:right;">
                                        <a class="btn-info p-3 col-12 text-center" style="color:white;float:right;" href="{% url 'cart_clear' %}">Clear carts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-5">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul class="mb-20">
                                        <h5 class="text-center" style="margin-top:10px">
                                            <span style="color:green">
                                               Free Delivery on <b style="color:red;">500+</b> Order
                                            </span>
                                        </h5>
                                        <li>Total Items<span>{{request.session.cart.keys|length}} Items</span></li>
                                        {% if cart_total_amount > 500 %}
                                         <li>Delivery Charges<span style="color:green">Free Delivery</span></li>
                                        {% else %}
                                          <li>Delivery Charges<span style="color:red">50 Rs</span></li>
                                        {% endif %}
                                        <li>Total<span>
                                            {{cart_total_amount}} Rs
                                        </span>
                                        </li>
                                        <a class=" btn btn-info p-3 col-12" style="color:white;" href="/Carts_Checkout">Proceed to checkout</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- cart-area-end -->

</main>
{% include 'Footer.html'%}

<!-- JS  Related to Change quantity of Product here -->
<script src="{% static 'Medicine_assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'Medicine_assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'Medicine_assets/js/nice-select.js' %}"></script>
<script src="{% static 'Medicine_assets/js/wow.js' %}"></script>
<script src="{% static 'Medicine_assets/js/imagesloaded-pkgd.js' %}"></script>
<script src="{% static 'Medicine_assets/js/main.js' %}"></script>
</body>
