{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}

<!-- main content part here -->
<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './logo/takecare_logo-1.PNG' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="/Super_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                <span>Dashboard</span>
            </a>

        </li>

        <li class="side_menu_title">
            <span>Users</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-procedures"></i>
                <span>Patient<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/view_Patient_list/">View All Patients </a></li>
                <li><a href="/add_new_Patient/">ADD New Patient</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-user-md"></i>
                <span>Doctors<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a href="/all_Register_doctor/">View All Doctors</a></li>
                <li><a href="/view_N_D/">New Doctor Request</a></li>
                <li><a href="/add_new_doctor/">ADD New Doctor</a></li>

            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-pills"></i>
                <span>Pharmacies<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View ALL Pharmacy/">View All Pharmacies</a></li>
                <li><a href="/ADD_New_Pharmacy/">ADD New pharmacy</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fal fa-vial"></i>
                <span>Laboratories<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_labs/">View All Laboratories</a></li>
                <li><a href="/add_new_Laboratory/">ADD New Laboratory</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fad fa-biking-mountain" style="color:green;"></i>
                <span style="font-size:14px;">Local Rider<i class="fal fa-chevron-down"
                                                            style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_Rider/">View All your Rider</a></li>
                <li><a href="/add_new_Rider/">ADD New Rider</a></li>
                <li><a href="/Rider_Request/">View Rider Request</a></li>
            </ul>
        </li>

    </ul>
</nav>
<!-- sidebar part end -->

<!--/ sidebar  -->

<section class="main_content dashboard_part" >
    <!-- menu  -->
    <div class="container-fluid no-gutters" >
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
<!--                                {% csrf_token %}-->

<!--                                <div class="search_field">-->
<!--                                    <input id="tag" placeholder="Search here..." type="text">-->
<!--                                    <script>-->
<!--                                            $(function () {-->
<!--                                                var availableTags = [-->
<!--                                                  {% for i in all_lab %}-->
<!--                                                       "{{i.Labname}}",-->
<!--                                                  {% endfor %}-->
<!--                                                  ];-->
<!--                                            $("#tag").autocomplete({-->
<!--                                                source: availableTags-->
<!--                                            });-->
<!--                                      } );-->



<!--                                    </script>-->

<!--                                </div>-->

<!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
<!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            {% for i in current_admin %}
                            {% if i.img %}
                            <img alt="#" src='/media/{{current_lab.img}}'>
                            {% else %}
                            <a><img alt="#" src="{% static  'deault_profile_image.png' %}" style="max-width:40px;"></a>
                            {% endif %}
                            {% endfor %}
                            <div class="profile_info_iner">
                                <p>{{current_lab.Username}}</p>
                                <h5>{{current_lab.email}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Admin_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Super_admin/Super_admin_logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="single_element">
                        <div class="quick_activity">
                            <div class="row">
                                <div class="col-12">
                                    <div class="quick_activity_wrap ">
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon" style="color:skyblue;">
                                                <i class="fal fa-user-md fa-4x"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Doctors_count}}</span></h3>
                                                <p>Doctors</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">
                                                <img alt="" src='{% static  "./Hospital_files/wheel.svg" %}'>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{all_pat}}</span></h3>
                                                <p>Patients</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">
                                                <img alt="" src='{% static  "./Hospital_files/man.svg" %}'>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Doctors_request_count}}</span></h3>
                                                <p style="font-size: 14px;">New Doctors Request</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon" style="color:red;">
                                                <i class="fal fa-flask fa-4x"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Total_labs}}</span></h3>
                                                <p>Laboratories</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">

                                                <img alt="" src='{% static "./Hospital_files/cap.svg" %}'>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Pharmacy_count}}</span></h3>
                                                <p>Pharmacies</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">
                                                <i style="color:Green" class="fad fa-biking fa-4x"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Rider_count}}</span></h3>
                                                <p>Total Rider</p>
                                            </div>
                                        </div>
                                        <div class="single_quick_activity d-flex">
                                            <div class="icon">

                                                <i style="color:brown;" class="fad fa-biking-mountain fa-4x"></i>
                                            </div>
                                            <div class="count_content">
                                                <h3><span class="counter">{{Rider_Request_count}}</span></h3>
                                                <p style="font-size: 14px;">New Rider Request</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="white_box card_height_100">
                        <div class="box_header border_bottom_1px">
                            <div class="main-title">
                                <h3 class="mb_25">All Registered Doctors</h3>
                            </div>
                        </div>
                        <div class="staf_list_wrapper sraf_active owl-carousel owl-loaded owl-drag">

                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                     style="transform: translate3d(-2495px, 0px, 0px); transition: all 0.8s ease 0s; width: 3992px;">
                                    {% for i in Doctor%}
                                    <div class="owl-item cloned" style="width: 219.5px; margin-right: 30px;">
                                        <div class="single_staf">
                                            <div class="staf_thumb">
                                                {% if i.img %}
                                                <img alt="Doctor img" src='/media/{{i.img}}'>
                                                {% else %}
                                                {% if i.Gender == 'Female'%}
                                                <img alt="" src='{% static "female_doctor_dp.jpg" %}'>
                                                {% else %}
                                                <img alt="" src='{% static "male_doctor_dp.jpg" %}'>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                            <h4>Dr.{{i.Doctor_name}}</h4>
                                            <p>{{i.Speciality}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="owl-nav">
                                <button class="owl-prev" role="presentation" type="button"><i
                                        class="fa fa-angle-left"></i></button>
                                <button class="owl-next" role="presentation" type="button"><i
                                        class="fa fa-angle-right"></i></button>
                            </div>
                            <div class="owl-dots">
                                <button class="owl-dot" role="button"><span></span></button>
                                <button class="owl-dot active" role="button"><span></span></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>


<!-- main content part end -->

<!-- footer  -->

{% endblock %}
