{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}

<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './Hospital_files/logo.png' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="mm-active">
            <a aria-expanded="false" class="active" class="active" href="/Phy_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                Dashboard
            </a>

        </li>

        <li class="side_menu_title">
            <span>Function</span>
        </li>
        <li class="mm-active">
            <a aria-expanded="True" href="#">
                <i class="fas fa-cart-plus" style="color:green;"></i>
                <span>Orders<i class="fal fa-chevron-down"
                               style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a class="active" href="/Phy_admin/View_all_new_Orders/">View All New Orders</a></li>
                <li><a href="/Phy_admin/view_all_comfirm_Orders/">View Conform Order</a></li>
                <li><a href="/Phy_admin/#table_sub_2">View Today Orders</a></li>
                <li><a href="/Phy_admin/view complete orders/">View Complete Orders</a></li>

            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-engine-warning" style="color:green;"></i>
                <span style="font-size:14px;">Medicine Expiry Alert<i class="fal fa-chevron-down"
                                                                      style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_Expiry Medicine/">View All Expiry Medicine</a></li>
                <li><a href="/View Expiring Soon/">Expiring Soon</a></li>
            </ul>
        </li>


        <li class="">
            <a aria-expanded="false" href="#">
                <i class="far fa-capsules" style="color:green;"></i>
                <span style="font-size:14px;">Products/Medicines<i class="fal fa-chevron-down"
                                                                   style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_Medicine/">View All Medicine</a></li>
                <li><a href="/add_new_Medicine/">ADD New Medicine</a></li>
            </ul>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fad fa-biking-mountain" style="color:green;"></i>
                <span style="font-size:14px;">Local Rider<i class="fal fa-chevron-down"
                                                            style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="/View_all_samplest/">View All your Rider</a></li>
                <li><a href="/add_new_Samplest/">ADD New Rider</a></li>
            </ul>
        </li>


    </ul>
</nav>
<!-- sidebar part end -->
<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <!--                                <div class="search_field">-->
                                <!--                                    <input id="tag" placeholder="Search here..." type="text">-->
                                <!--                                </div>-->

                                <!--                                <button type="submit"><img alt="" src=' {% static "Hospital_files/icon_search.svg" %}'>-->
                                <!--                                </button>-->
                            </form>
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img
                                        alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            {% if Current_pharmacy.img %}
                            <img alt="#" src='/media/{{Current_pharmacy.img}}'>
                            {% else %}
                            <img alt="" src="{% static 'pharmacy_profile.jfif' %}">
                            {% endif %}
                            <div class="profile_info_iner">
                                <p>{{Current_pharmacy.Pharmacy_name}}</p>
                                <h5>{{Current_pharmacy.city}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Phy_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-xl-12">
                    <div class="white_box mb_30 " style="position: relative;">

                        {% if messages %}
                        {% for message in messages %}
                        <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                             role="alert">
                            <div class="d-flex alert-success">
                                <div class="toast-body ">
                                    {{ message }}
                                </div>
                                <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                        type="button"></button>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="examples">
                                <h2 class="text-center"><b>New Medicine Orders</b></h2>
                                <thead>
                                <tr align="center">
                                    <th scope="col">#</th>
                                    <th scope="col">Images</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Assign to Rider</th>
                                    <th scope="col">View Detail</th>
                                </thead>
                                <tbody>
                                {% for i in All_Orders %}
                                <tr align="center">
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td><img alt="" src="/media/{{ i.Medicine.img }}" style="width:50px;"></td>
                                    <td>{{ i.Medicine}}</td>
                                    <td>Rs {{ i.Medicine.Medicine_price }}</td>
                                    <td>
                                        {{i.quantity}}
                                    </td>
                                    <td>
                                        {{i.Total_price}} RS
                                    </td>

                                    <td class="Order_Status">
                                        {% if i.status == 'Pending' %}
                                        <form action="/order_cancel_confirm/" method="POST">
                                            {% csrf_token %}
                                            <input hidden name="id" type="number" value="{{i.id}}">
                                            <input hidden name="action" type="text" value="confirm">
                                            <input class="btn btn-outline-success" type="submit" value="Confirm"/>
                                        </form>
                                        <form action="/order_cancel_confirm/" method="POST">
                                            {% csrf_token %}
                                            <input hidden name="id" type="number" value="{{i.id}}">
                                            <input hidden name="action"  value="cancel">
                                            <input hidden name="id" type="number" value="{{i.id}}">
                                            <input class="btn btn-outline-danger" type="submit" value="Cancel"/>
                                        </form>

                                        {% elif i.status == 'Out for delivery' %}
                                        <h5 class="badge" style="background-color:brown;">{{i.status}}</h5>
                                        {% elif i.status == 'Conform' %}
                                        <h5 class="badge" style="background-color:green;">{{i.status}}</h5>
                                        {% elif i.status == 'Delivered' %}
                                        <h5 class="badge" style="background-color:green;">{{i.status}}</h5>
                                        {% else %}
                                        <h5 class="badge" style="background-color:red;">{{i.status}}</h5>
                                        {% endif %}
                                    </td>
                                    <td align="center">

                                        {{i.Samplest.name}}<br>
                                        {% if i.Samplest.name and i.status != 'Test Report'%}
                                        <a class="mr-5 Change-Samplest-link"
                                           data-toggle="modal" href="#Change_Samplest{{i.id}}">
                                            <button class="  btn-success btn mt-2 " type="button">Change Samplest
                                            </button>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td><a class="mr-1 helpline-number-link"
                                           data-toggle="modal" href="#view-details{{i.id}}"
                                           style="height:38px;width: 55px;">
                                        <img alt="" src='{% static  "view-details.png" %}' style="width:30px;">
                                    </a></td>
                                </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                            {% for i in All_Orders %}
                            <div aria-hidden="true" class="modal" id="view-details{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 30px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Medicine Order Details</h5>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Customer Name </h6>
                                                        </th>
                                                        <th class="col-6"><h6 style="color:green">
                                                            {{i.Customer.name}} </h6>
                                                        </th>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Medicine Name </h6>
                                                        </th>
                                                        <th class="col-6"><h6 style="color:green">
                                                            {{i.Medicine}} </h6>
                                                        </th>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Quantity</h6>
                                                        </th>
                                                        <th class="col-6"><h6>
                                                            {{i.quantity}} </h6>
                                                        </th>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Total Price</h6></th>
                                                        <td>{{i.Total_price}}/- Rs only</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Status</h6></th>
                                                        <td>{{i.status}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6">
                                                            <h6 style="color:green">Payment</h6>
                                                        </th>
                                                        <td align="center">
                                                            {% if i.payment == 'Paid' %}
                                                            <h5 class="badge" style="background-color:green;">
                                                                {{i.payment}}
                                                            </h5>
                                                            {% else %}
                                                            <h5 class="badge" style="background-color:red;">
                                                                {{i.payment}}</h5>
                                                            {% endif %}
                                                        </td>
                                                    </tr>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Patient Address</h6>
                                                        </th>
                                                        <td>{{i.Address}}</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="modal" id="Change_Samplest{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 50px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">Change This Test Samplest</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Patient Name</h6>
                                                        </th>
                                                        <td>{{i.Patient_Name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                        </th>
                                                        <td>{{i.Book_Test.Test_name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            {% if i.Test_Type == 'home sample'%}
                                                            <h4>
                                                                <form action="/lab_admin/"
                                                                      method="POST">
                                                                    {% csrf_token %}

                                                                    <input hidden name="name" type="text"
                                                                           value="conform"/>
                                                                    <input hidden name="id" type="text"
                                                                           value="{{i.id}}"/>

                                                                    <label>Please Select Sample Who can Take
                                                                        Sample</label>
                                                                    <select aria-label="Default select example"
                                                                            class="form-select" name="Select_samplest"
                                                                            required>
                                                                        {% for i in samplest%}
                                                                        {% if i.is_Active == True %}
                                                                        <option value="{{i.name}}">
                                                                            {{i.name}}
                                                                        </option>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                    </select>
                                                                    <button class="btn btn-success"
                                                                            style="font-family:sans-serif;"
                                                                            type="submit">
                                                                        Conform this Appointment
                                                                    </button>
                                                                </form>
                                                            </h4>
                                                            {% else %}
                                                            <h4>
                                                                <form action="/lab_admin/"
                                                                      method="POST">
                                                                    {% csrf_token %}

                                                                    <input hidden name="name" type="text"
                                                                           value="conform"/>
                                                                    <input hidden name="id" type="number"
                                                                           value="{{i.id}}"/>
                                                                    <select aria-label="Default select example"
                                                                            class="form-select"
                                                                            hidden name="Select_samplest">
                                                                        <option selected value="no_select"> no_select
                                                                        </option>
                                                                    </select>
                                                                    <button class="btn btn-success"
                                                                            style="font-family:sans-serif;"
                                                                            type="submit">
                                                                        Conform this Appointment
                                                                    </button>
                                                                </form>
                                                            </h4>

                                                            {% endif %}
                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="modal" id="Samplest_Collected{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 50px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">Test Samplest is Collected</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Patient Name</h6>
                                                        </th>
                                                        <td>{{i.Patient_Name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                        </th>
                                                        <td>{{i.Book_Test.Test_name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <h4>
                                                                <form action="/lab_admin/"
                                                                      method="POST">
                                                                    {% csrf_token %}

                                                                    <input hidden name="name" type="text"
                                                                           value="Samplest_Collected"/>
                                                                    <input hidden name="id" type="text"
                                                                           value="{{i.id}}"/>

                                                                    <button class="btn btn-success"
                                                                            style="font-family:sans-serif;"
                                                                            type="submit">
                                                                        Samplest is Collected
                                                                    </button>
                                                                </form>
                                                            </h4>

                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div aria-hidden="true" class="modal" id="Payment_received{{i.id}}" role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog p-3" role="document" style="margin-top: 50px;">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body tab-content">
                                            <h5 class="text-center">Are you sure </h5>
                                            <p class="text-center">You Received Payment</p>
                                            <div class="table-responsive">
                                                <table class="table width:100% align-middle">
                                                    <tbody>

                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Patient Name</h6>
                                                        </th>
                                                        <td>{{i.Patient_Name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Test Name</h6>
                                                        </th>
                                                        <td>{{i.Book_Test.Test_name}}</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th class="col-6"><h6 style="color:green">Payment</h6>
                                                        </th>
                                                        <td>{{i.Book_Test.test_price}}/- Rs only</td>
                                                    </tr>
                                                    <tr align="center">
                                                        <th colspan="2">
                                                            <h4>
                                                                <form action="/lab_admin/"
                                                                      method="POST">
                                                                    {% csrf_token %}

                                                                    <input hidden name="name" type="text"
                                                                           value="Payment_received"/>
                                                                    <input hidden name="id" type="text"
                                                                           value="{{i.id}}"/>

                                                                    <button class="btn btn-success"
                                                                            style="font-family:sans-serif;"
                                                                            type="submit">
                                                                        Test Payment is received
                                                                    </button>
                                                                </form>
                                                            </h4>

                                                        </th>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

{% endblock %}
