{% extends "Admin_site/admin_header.html" %}
{% load static %}

{% block content %}
<style>
    .single-smblog {
  position: relative;
}
.single-smblog .blog-image {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.single-smblog .blog-image img {
  transition: all 0.5s ease;
}
.single-smblog .blog-image-2 img {
  border-radius: 20px;
}
.single-smblog:hover .blog-image img {
  transform: scale(1.1);
}

.smblog-content {
  padding: 20px;
  background: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.smblog-content h6 {
  font-size: 15px;
  line-height: 1.34;
  margin-bottom: 0;
}
.smblog-content h6:hover {
  color: #16bcdc;
}
.smblog-content span {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  display: inline-block;
}
.smblog-content span a {
  color: #16bcdc;
}
.smblog-content p {
  line-height: 20px;
}
.smblog-content .smblog-foot {
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}
.smblog-content .smblog-foot .post-readmore a {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  color: #222;
}
.smblog-content .smblog-foot .post-readmore a:hover {
  color: #16bcdc;
}
.smblog-content .smblog-foot .post-date a {
  color: #999;
  font-size: 14px;
  line-height: 1.2;
  display: inline-block;
}
.smblog-content .smblog-foot .post-date a:hover {
  color: #16bcdc;
}

.smblog-content-2 {
  padding: 0;
  padding-top: 20px;
}

.smblog-content-3 {
  border: 1px solid #e5e5e5;
}
.smblog-content-3 h6 {
  font-size: 20px;
  line-height: 1.4;
}
.smblog-content-3 h6:hover {
  color: #fcbe00;
}
.smblog-content-3 span a {
  color: #fcbe00;
}
.smblog-content-3 .smblog-foot .post-date a:hover {
  color: #fcbe00;
}
.smblog-content-3 .smblog-foot .post-readmore a:hover {
  color: #fcbe00;
}

.blog-tag {
  position: absolute;
  top: 15px;
  left: 15px;
}
.blog-tag a {
  padding: 4px 12px;
  display: inline-block;
  background: #16bcdc;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
}

.blog-tag-2 a {
  background: #fcbe00;
  color: #222;
}

.widget {
  padding: 35px 38px;
  border: 2px solid #f3f3f3;
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .widget {
    padding: 35px 25px;
  }
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 16px;
  line-height: 1;
}

.featured-author p {
  padding: 0 20px;
}

.featured-author h6 {
  font-size: 18px;
  line-height: 46px;
  margin-bottom: 0;
}

.featured-author-social li {
  display: inline-block;
}
.featured-author-social li a {
  font-size: 14px;
  color: #222;
  display: inline-block;
  margin: 0 10px;
}
.featured-author-social li a:hover {
  color: #fcbe00;
}

.n-sidebar-search {
  position: relative;
}

.n-sidebar-search input {
  padding-left: 30px;
  padding-right: 80px;
  background: #f5f5f5;
  height: 60px;
  width: 100%;
  border: 0;
  outline: none;
}

.n-sidebar-search input::placeholder {
  color: #999;
}

.n-sidebar-search a {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #fcbe00;
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.feed-content h6 {
  font-size: 16px;
  line-height: 22px;
}
.feed-content h6:hover {
  color: #fcbe00;
}

.feed-number img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
@media (max-width: 575px) {
  .feed-number img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.feed-date {
  font-size: 14px;
  color: #222;
}
.feed-date i {
  margin-right: 5px;
}

.n-sidebar-feed ul li {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #f3f3f3;
  padding-top: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .n-sidebar-feed ul li {
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .n-sidebar-feed ul li {
    display: block;
  }
}
.n-sidebar-feed ul li:first-child {
  padding-top: 0;
}
.n-sidebar-feed ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.single-category {
  font-size: 14px;
  width: 100%;
  height: 50px;
  padding: 0 80px 0 30px;
  line-height: 50px;
  background: #f8f8f8;
  display: inline-block;
  transition: all 0.5s ease-out 0s;
  color: #222;
}

.category-number {
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 14px;
  background: #efefef;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  text-align: center;
  color: #222;
  transition: 0.3s;
  font-weight: 600;
}

.n-sidebar-categories li:hover .category-number {
  background: #fcbe00;
  color: #ffffff;
}

.single-tag {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f4f4f4;
  padding: 0 25px;
}

.dktags a {
  background: #f4f4f4;
  color: #222;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  padding: 10px 21px;
  padding-bottom: 10px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-right: 5px;
  text-transform: capitalize;
  border: 0;
  transition: 0.3s;
}
.dktags a:hover {
  background: #fcbe00;
  color: #ffffff;
}

.sponsor-img {
  position: relative;
}
.sponsor-img img {
  width: 100%;
}

.ad-width {
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  line-height: 60px;
  background: #fcbe00;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-detalis-content {
  padding: 50px;
  padding-top: 40px;
  border: 2px solid #f3f3f3;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .news-detalis-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 575px) {
  .news-detalis-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.news-detalis-content-2 {
  border-top: 0;
  padding: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .news-detalis-content-2 {
    padding: 20px;
  }
}

.news-thumb img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-meta {
  list-style: none;
  padding: 0;
}
.blog-meta li {
  display: inline-block;
  margin-right: 55px;
  position: relative;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-meta li {
    margin-right: 35px;
  }
}
.blog-meta li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #666;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-meta li::before {
    right: -23px;
  }
}
.blog-meta li:last-child::before {
  display: none;
}
.blog-meta li a {
  font-size: 14px;
  color: #222;
}
.blog-meta li a i {
  margin-right: 10px;
}
.blog-meta li a:hover {
  color: #fcbe00;
}

.news-title {
  font-size: 35px;
  line-height: 35px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 768px) and (max-width: 991px) {
  .news-title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .news-title {
    font-size: 27px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .news-title {
    font-size: 23px;
  }
}
@media (max-width: 575px) {
  .news-title {
    font-size: 20px;
    line-height: 30px;
  }
}

.news-title-2 {
  border-top: 1px solid #f3f3f3;
}

.blog-inner {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-inner {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .blog-inner {
    display: block;
    text-align: left;
  }
}
.blog-inner img {
  margin-right: 30px;
  width: 190px;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .blog-inner img {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}
.blog-inner p {
  line-height: 26px;
  margin-bottom: 0;
}

.news-quote-title {
  font-size: 28px;
  line-height: 38px;
}

.news-quote-area {
  border: 2px solid #f3f3f3;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  padding: 50px;
}
@media (max-width: 575px) {
  .news-quote-area {
    padding: 10px;
  }
}
.news-quote-area i {
  height: 60px;
  width: 60px;
  background: #fcbe00;
  border-radius: 50%;
  font-size: 25px;
  line-height: 56px;
  color: #ffffff;
}

.founder-name {
  font-size: 20px;
  line-height: 24px;
}

.founder-title {
  font-size: 14px;
  line-height: 15px;
  color: #222;
  display: block;
}

.tag-title {
  font-size: 20px;
  line-height: 26px;
}

.news-tag a {
  font-size: 12px;
  line-height: 20px;
  color: #222;
  margin-right: 10px;
  padding: 5px 30px;
  border-radius: 30px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
}
.news-tag a:hover {
  background: #fcbe00;
  color: #ffffff;
  border-color: #fcbe00;
}

.news-share {
  text-align: right;
}
@media (max-width: 575px) {
  .news-share {
    text-align: left;
    margin-top: 20px;
  }
}
.news-share a {
  color: #b9b9b9;
  font-size: 20px;
  margin-right: 30px;
  transition: 0.3s;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .news-share a {
    margin-right: 10px;
  }
}
.news-share a:last-child {
  margin-right: 0;
}
.news-share a:hover .fa-facebook-f {
  color: #166FE5;
}
.news-share a:hover .fa-twitter {
  color: #55ADEE;
}
.news-share a:hover .fa-typo3 {
  color: #FF8700;
}
.news-share a:hover .fa-tumblr {
  color: #000;
}
.news-share a:hover .fa-share-alt {
  color: #247FFF;
}

.news-navigation {
  border-top: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}
@media (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px) {
  .news-navigation {
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .news-navigation-icon {
    margin-bottom: 15px;
  }
}

.changes-info span {
  font-size: 14px;
  line-height: 26px;
  color: #222;
  display: block;
}
.changes-info span:hover {
  color: #fcbe00;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .changes-info {
    margin-bottom: 15px;
  }
}

.changes-info-title {
  font-size: 28px;
  line-height: 50px;
}
.changes-info-title:hover {
  color: #fcbe00;
}

.news-navigation-icon i {
  font-size: 50px;
  line-height: 50px;
  color: #fcbe00;
}

.news-author {
  display: flex;
  align-items: center;
  padding: 40px;
  border: 2px solid #f3f3f3;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .news-author {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .news-author {
    padding: 15px;
    display: block;
  }
}
.news-author img {
  margin-right: 40px;
  width: 200px;
  height: 180px;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .news-author img {
    margin-right: 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.news-author span {
  font-size: 12px;
  line-height: 26px;
  color: #222;
  display: block;
}
.news-author p {
  margin-bottom: 0;
}

.author-title {
  font-size: 36px;
  line-height: 45px;
}
@media (max-width: 575px) {
  .author-title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .author-title {
    font-size: 30px;
  }
}

.post-comment-title {
  font-size: 26px;
  line-height: 26px;
}

.comments-box {
  display: flex;
}
@media (max-width: 575px) {
  .comments-box {
    display: block;
  }
}

.comments-avatar {
  margin-right: 30px;
}

.comments-text {
  overflow: hidden;
  border-bottom: 1px solid #f1f0f7;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.avatar-name {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .avatar-name {
    font-size: 16px;
  }
}

.children {
  padding-left: 135px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .children {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .children {
    padding-left: 0;
  }
}

.comments-box .post-meta {
  color: #222;
  font-size: 14px;
  line-height: 26px;
  display: block;
}
.comments-box .post-meta i {
  margin-right: 10px;
}

.comment-reply {
  padding: 5px 25px;
  border: 2px solid #f3f3f3;
  font-size: 14px;
  color: #222;
  border-radius: 30px;
  transition: 0.3s;
}
@media (max-width: 575px) {
  .comment-reply {
    padding: 10px 15px;
    margin-left: 20px;
    margin-top: 10px;
  }
}
.comment-reply i {
  margin-right: 5px;
  transform: rotateY(-190deg);
}
.comment-reply:hover {
  background: #fcbe00;
  border-color: #fcbe00;
  color: #ffffff;
}

.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575px) {
  .avatar {
    flex-wrap: wrap;
    margin: 20px 0;
  }
}

.post-comment-form-title {
  font-size: 26px;
  line-height: 26px;
}

.post-comment-form form {
  border: 2px solid #f3f3f3;
  padding: 50px;
}
@media (max-width: 575px) {
  .post-comment-form form {
    border: none;
    padding: 0;
  }
}

.post-comment-form form textarea {
  height: 150px;
  padding: 20px 30px;
  background: #ffffff;
  font-size: 14px;
  width: 100%;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  resize: none;
  outline: none;
  transition: 0.3s;
}
.post-comment-form form textarea:focus {
  border: 1px solid #fcbe00;
}

.post-comment-form form textarea::placeholder {
  color: #999999;
}

.post-comment-form form .input-field {
  position: relative;
  margin-bottom: 20px;
}

.post-comment-form form .input-field i {
  font-size: 14px;
  color: #fcbe00;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  background: #ffffff;
}

.post-comment-form form input {
  height: 60px;
  width: 100%;
  background: #ffffff;
  padding: 0 30px;
  font-size: 14px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  outline: none;
  transition: 0.3s;
}
.post-comment-form form input:focus {
  border: 1px solid #fcbe00;
}

.post-comment-form form input::placeholder {
  color: #999999;
}

.post-comment {
  width: 200px;
  height: 60px;
  background: #222;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  border: 0;
  margin-top: 10px;
  font-weight: 700;
  transition: 0.3s;
}
.post-comment i {
  margin-right: 10px;
}
.post-comment:hover {
  background: #fcbe00;
  color: #ffffff;
  border-color: #fcbe00;
}


</style>
<link href="{% static 'health_blog_style.css' %}" media="all" rel="stylesheet">

<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="#"><img alt="" src="{% static './Hospital_files/logo.png' %}"></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="fal fa-times"></i>
        </div>
    </div>
    <ul class="metismenu" id="sidebar_menu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="/Doctor_admin/">
                <!-- <i class="fas fa-th"></i> -->
                <img alt="" src='{% static "./Hospital_files/1.svg" %}'>
                <span>Dashboard</span>
            </a>

        </li>

        <li class="side_menu_title">
            <span>Functions</span>
        </li>
        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-procedures"></i>
                <span>Appointments<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a href="/Doctor_admin/#examples">View All Appointments </a></li>
                <li><a href="/Doctor_admin/New_appointment_requests/">Appointment Requests</a></li>
                <li><a href="/Doctor_admin/confirm_today">All confirm Appointments </a></li>

            </ul>
        </li>

        <li class="">
            <a aria-expanded="false" href="/clinic_profile/">
                <i class="fas fa-clinic-medical"></i>
                <span>Clinic Detail/Profile</span>
            </a>
        </li>


        <li class="mm-active">
            <a aria-expanded="True" href="#">
                <i class="fas fa-books-medical"></i>
                <span>Health Blogs<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse">
                <li><a class="active" href="/view_Doctor_blogs/">View all Health Blogs</a></li>
                <li><a href="/add_new_blog/">ADD New Health Blogs</a></li>
            </ul>
        </li>

        <li class="">
            <a aria-expanded="false" href="#">
                <i class="fas fa-pills"></i>
                <span>Pharmacies<i class="fal fa-chevron-down" style="float: right;"></i></span>
            </a>
            <ul class="mm-collapse" style="height: 0px;">
                <li><a href="#">View All Pharmacies</a></li>
                <li><a href="#">ADD New pharmacy</a></li>
            </ul>
        </li>

        <li class="">
            <a aria-expanded="false" href="/Doctor_profile/">
                <i class="fad fa-address-card"></i>
                <span>Profile Page</span>
            </a>
        </li>

        <li class="">
            <a aria-expanded="false" href="/Logout/">
                <i class="fas fa-sign-out-alt"></i>
                <span>Log Out</span>
            </a>
        </li>
    </ul>
</nav>

<!-- sidebar part end -->

<section class="main_content dashboard_part">
    <!-- menu  -->
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                        </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#">
                                    <img
                                            alt="" src='{% static "./Hospital_files/bell.svg" %}'> </a>
                            </li>
                        </div>
                        <div class="profile_info">

                            {% if current_doctor.img %}
                            <img alt="#" src='/media/{{current_doctor.img}}'
                                 style="width:50px;height:50px;">
                            {% else %}
                            <a><img alt="#" src="{% static  'deault_profile_image.png' %}" style="width:40px;"></a>
                            {% endif %}
                            <div class="profile_info_iner">
                                <p>{{current_doctor.Doctor_name}}</p>
                                <h5>{{current_doctor.email}}</h5>
                                <div class="profile_info_details">
                                    <a href="/Doctor_profile/">My Profile
                                        <i class="fal fa-user"></i></a>
                                    <!--                                    <a href="#">Settings-->
                                    <!--                                        <i class="fal fa-user-cog"></i></a>-->
                                    <a href="/Logout/">Log Out
                                        <i class="fal fa-sign-out"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/ menu  -->
    <div class="main_content_iner ">
        <div class="container-fluid p-0">

            <div class="row justify-content-center">
                {% if Health_Blog %}
                {% if error %}
                <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                     role="alert">
                    <div class="d-flex alert-danger">
                        <div class="toast-body ">
                            {{error}}
                        </div>
                        <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                type="button"></button>
                    </div>
                </div>
                {% elif success %}
                <div aria-atomic="true" aria-live="assertive" class="toast  show align-items-center w-100"
                     role="alert">
                    <div class="d-flex alert-success">
                        <div class="toast-body ">
                            {{success}}
                        </div>
                        <button aria-label="Close" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                type="button"></button>
                    </div>
                </div>
                {% endif %}

                <div class="l-post  mb-0  H_Blog">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    {% for i in page_obj %}
                                    <div class="col-xl-4 col-sm-6 col-10 bg-white">
                                        <div class="single-smblog mb-30" style="background-color:white;">
                                            <div class="smblog-thum">
                                                <div class="blog-image w-img">
                                                    <a href="/view_Doctor_blogs/{{i.id}}">
                                                        <img alt="" src="/media/{{i.img}}" style="height:200px;"></a>
                                                </div>
                                                <div class="blog-tag blog-tag-2">
                                                    <a href="/view_Doctor_blogs/{{i.id}}">
                                                        {{i.Health_blogs_issue}}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="smblog-content smblog-content-3">
                                                <h6><a href="/view_Doctor_blogs/{{i.id}}">
                                                    {{i.Main_heading}}
                                                </a>
                                                </h6>
                                                <p style="height:100px;overflow:hidden;">
                                                    {{i.Health_blogs_Detail}} ...</p>
                                                <div class="smblog-foot pt-15">
                                                    <div class="post-readmore">
                                                        <a href="/view_Doctor_blogs/{{i.id}}"> Read
                                                            More <span
                                                                    class="icon"></span></a>
                                                    </div>
                                                    <div class="post-date">
                                                        <a href="//view_Doctor_blogs/{{i.id}}">
                                                            {{i.blog_create_time}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <a class="delete-record-link col-5"
                                                   data-toggle="modal" href="#delete{{i.id}}">
                                                    <button class="btn btn-danger H_btn col-5 text-center">
                                                        Delete
                                                    </button>
                                                </a>
                                                <a class="updated-record-link "
                                                   data-toggle="modal" href="#update{{i.id}}">
                                                    <button class="btn btn-success H_btn col-6">
                                                        Edit Blog
                                                    </button>
                                                </a>
                                                <a href="/view_Doctor_blogs/{{i.id}}">
                                                    <button class="btn btn-outline-success mt-1 bold col-12"
                                                            style="text-align: center">
                                                        View Details
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="basic-pagination text-center pt-30 pb-30">

                                    <nav>
                                        <ul>
                                       <span class="step-links">
                                            {% if page_obj.has_previous %}
                                            <a href="?page=1">
                                                <button class="btn btn-outline-warning">&laquo; first</button>
                                            </a>
                                            <a href="?page={{ page_obj.previous_page_number }}">
                                                    <button class="btn btn-outline-warning">previous</button>
                                                </a>
                                            {% endif %}
                                            <span class="current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>

                                            {% if page_obj.has_next %}
                                                <a href="?page={{ page_obj.next_page_number }}">
                                                    <button class="btn btn-outline-warning">next</button>
                                                </a>
                                                <a href="?page={{ page_obj.paginator.num_pages }}">
                                                    <button class="btn btn-outline-warning">last &raquo;</button>
                                                </a>
                                            {% endif %}
                                        </span>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- news-detalis-area-end  -->
                </div>

                {% for i in Health_Blog %}
                <!-- delete for Blog detail -->
                <div aria-hidden="true" class="modal" id="delete{{i.id}}" role="dialog" tabindex="-1">
                    <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                        style="background-color:white;color:yellow;" type="button"></button>
                            </div>
                            <div>
                                <h5 class="text-center">Are you sure delete this Health blog </h5>
                                <div class="table-responsive">
                                    <table class="table width:100% align-middle borderless">
                                        <tbody>
                                        <tr align="center">
                                            <td align="center" colspan="2">
                                                <form action="/view_Doctor_blogs/" method="post">
                                                    {% csrf_token%}
                                                    <h4 style="margin-left:35%;">
                                                        <input hidden name="blog_id" type="number"
                                                               value="{{i.id}}"/>
                                                        <input hidden name="name" type="text" value="delete_blog"/>
                                                        <button class="btn btn-danger"
                                                                style="font-family:sans-serif;width:40%">
                                                            Delete
                                                        </button>
                                                    </h4>
                                                </form>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <br/>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit for Blog detail -->
                <div aria-hidden="true" class="modal" id="update{{i.id}}" role="dialog" tabindex="-1">
                    <div class="modal-dialog p-3" role="document" style="margin-top: 130px;">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <button aria-label="Close" class="btn-close" data-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body tab-content">
                                <h5 class="text-center">Are you sure </h5>
                                <p class="text-center">Edit this Health blog </p>
                                <div class="table-responsive">
                                    <table class="table width:100% align-middle borderless">
                                        <tbody>
                                        <tr align="center">
                                            <td align="center" colspan="2">
                                                <form action="/Update_health_blog/" method="post">
                                                    {% csrf_token%}
                                                    <h4 style="margin-left:35%;">
                                                        <input hidden name="blog_id" type="number"
                                                               value="{{i.id}}"/>
                                                        <input hidden name="name" type="text" value="Update_blog"/>
                                                        <button class="btn btn-success" style="font-family:sans-serif;"
                                                                type="submit">
                                                            Update Record
                                                        </button>
                                                    </h4>
                                                </form>
                                            </th>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <br/>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


                {% else %}
                <div class="table-responsive" id="c_Frame">
                    <table class="table w-100 table-borderless">
                        <tbody>
                        <tr align="center">
                            <td align="center" colspan="2">
                                You do not Write any Health blog.
                                </br>
                                <b> Please click here to start Writing your Health blog</b>
                            </td>
                        </tr>
                        <tr align="center">
                            <td align="center" colspan="2">
                                <div class="">
                                    <a class="mr-1 delete-record-link" href="/add_new_blog/">
                                        <button class='button btn-info btn ' id="C_btn"
                                                style="color:white;background-color:#49738f;width:auto;" type="submit">
                                            <b style="font-size:14px;">
                                                Start Writing Health Blog
                                            </b>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% endif%}
            </div>
        </div>
    </div>
</section>

{% endblock %}