<footer>
    <div class="fotter-area d-dark-bg">
        <div class="footer__top pt-80 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 order-last-md">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Care</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="/register/">New Customers</a></li>
                                                <li><a href="#">How to use Account</a></li>
                                                <li><a href="#">Placing an Order</a></li>
<!--                                                <li><a href="faq.html">Payment Methods</a></li>-->
                                                <li><a href="#">Delivery &amp; Dispatch</a></li>
                                                <li><a href="#">Problems with Order</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Our Services</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="/laboratory/400">Book Lab Test</a></li>
                                                <li><a href="/Pharmacies/400">Order Medicine</a></li>
                                                <li><a href="view_all_doctors/">Book Appointment with Doctor</a></li>
                                                <li><a href="/Health_blog/">Read Health blogs</a></li>
                                                <li><a href="#">Free Shipment</a></li>
                                                <li><a href="#">Keep your Medical Record Save</a></li>
                                                <li><a>Policies &amp; Rules</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 order-first-md">
                        <div class="footer__top-left">
                            <div class="row">

                                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="footer__widget">
                                                <div class="footer__widget-title">
                                                    <h4>Quick Links</h4>
                                                </div>
                                                <div class="footer__widget-content">
                                                    <div class="footer__link">
                                                        <ul>
                                                            <li><a href="#">Store Location</a></li>
                                                            <li><a href="#">My account</a></li>
                                                            <li><a href="#">Order Tracking</a></li>
                                                            <li><a href="#">FAQs</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title mb-20">
                                            <h4>About us</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <p class="footer-text mb-35">Our mission statement is to provide the
                                                absolute best customer experience available in the TakeCare System
                                                without exception.</p>
                                            <div class="footer__hotline d-flex align-items-center mb-10">
                                                <div class="icon mr-15">
                                                    <i class="fal fa-headset"></i>
                                                </div>
                                                <div class="text">
                                                    <h4>Got Question? Call us 24/7!</h4>
                                                    <span><a href="tel:100-123-456-7890">(+100) 123 456 7890</a></span>
                                                </div>
                                            </div>
                                            <div class="footer__info">
                                                <ul>
                                                    <li>
                                                        <span>Add:  <a href="https://goo.gl/maps/c82DDZ8ALvL878Bv8"
                                                                       target="_blank">Walls Street 68, Mahattan, New York, USA</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-content pt-55 pb-45">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="copy-right-area text-center">
                                <p>Copyright © <span>TakeCare.</span> All Rights Reserved.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
