{% extends "base.html"%}
{% block start %}

   <div class="table-responsive">
       <table class="table w-100 table-borderless">
           <tr align="center">
                <td>
                    <i style="color:red" class="far fa-times-circle fa-4x"></i>
                </td>
            </tr>
           <tr align="center">
               <td>
                   <h1 class="text-center" ><b>The Link will Expiry You Can Use This Link Ony Once Time</b></h1>
               </td>
           </tr>



       </table>

   </div>

{% endblock %}
