<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% include 'CSS/overservices.css'%}
<head>
    <meta charset="UTF-8">
  <style>
 .cl{
  text-decoration: none;
  color:white;
}
  </style>
</head>
<body>
<div class="services-section" id="overservice" >
      <div class="inner-width">
        <h1 class="section-title"><b>Our Services</b></h1>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-user-md"></i>
            </div>
            <div class="service-title"><b>Online Doctor appointment</b></div>
            <div class="service-desc">
              <a href="#tipid" class="cl">
                <b>
                  TakeCare is the website where you can find and get appointment from highly professional doctors in any city.
                </b>
              </a>
            </div>
          </div>
          <div class="service-box">
            <div class="service-icon">
              <a href="#tipid" class="cl"><i class="fas fa-lightbulb-on"></i></a>
<!--              <i class="fab fa-hips"></i>-->
            </div>
            <div class="service-title"> <a href="#tipid" class="cl">Senoir Doctors Health Tips</a></div>
            <div class="service-desc">
              <a href="#tipid" class="cl"> <b>TakeCare is the website where you can see Health tips  from highly professional doctors.</b></a>
            </div>
          </div>
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-flask"></i>
            </div>
            <div class="service-title"><b>Book Lab Test</b></div>
            <div class="service-desc">
              <a href="#tipid" class="cl">
                  <b>TakeCare is the website where you can book a Laboratory test with your nearest lab on discounted rate .</b>
              </a>
            </div>
          </div>

          <div class="service-box ">
            <div class="service-icon">
              <a href="/store" class="cl"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="service-title"> <a  class="cl" href="/store">Buy Medinces</a></div>
            <div class="service-desc">
              <a  class="cl" href="/store"><b>TakeCare is the website where you can buy any Medince on discount price from any  city in pakistan.</b></a>
             </div>
          </div>
          <div class="service-box">
            <div class="service-icon">
                <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="service-title"><b>Free Shipment</b></div>
            <div class="service-desc">
              <a href="#tipid" class="cl">
                 <b>TakeCare will provide you Free Shipment.</b>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>

</body>
</html>