{% load static %}

<div class="container-lg">
<style>
    h5:hover{
     color:#49738f;
    }
</style>
    <section class="container-lg bg-white py-2  text-center"
             style="justify-content: space-around;justify-content: space-around;align-content: center;">
             <h5 class="text-outline-info  py-2 text-center" style="text-decoration: underline;">Our Specialist Doctors</h5>
    </section>
    <section class="container-lg bg-white py-2  text-center"
             style="justify-content: space-around;justify-content: space-around;align-content: center;">
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 p-0 mt-2 justify-content-between " style="float: left;">
        <section class="container bg-white py-2  text-center"
                 style="justify-content: space-around;justify-content: space-around;align-content: center;">
            <a href="/Doctors/Dentist">
                <img alt="dentist"
                     class="rounded doctor-listing-picture mp-event-listing-doctor-picture m-2" data-height="120"
                     data-on-error-src="https://h7u5d3a4.stackpathcdn.com/assets/images/doctor-photo-male.png"
                     data-width="120" height="120"
                     src='{% static "Speciality_img/dentist.svg" %}'
                     width="120">
            </a>
            <h6>Dentist</h6>
            <script>
                    var i =0;


            </script>
            {% for i in All_Doctor %}
            {% if i.Speciality == "Dentist" %}
            <script>
                    i=i+1;


            </script>
            {% endif %}
            {% endfor %}

            <p>
                <script>
                    document.write(i)


                </script>
                Doctors
            </p>
        </section>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 p-0 mt-2 justify-content-between " style="float: left;">
        <section class="container bg-white py-2   text-center"
                 style="justify-content: space-around;justify-content: space-around;align-content: center;">
            <a href="/Doctors/Gastroenterologist">
                <img alt="pediatric-gastroenterologist"
                     class="rounded-circle doctor-listing-picture mp-event-listing-doctor-picture m-2 "
                     data-height="120"
                     data-on-error-src="https://h7u5d3a4.stackpathcdn.com/assets/images/doctor-photo-male.png"
                     data-width="120" height="120"
                     src='{% static "Speciality_img/pediatric-gastroenterologist.svg" %}'
                     width="120">
            </a>
            <h6>Gastroenterologist</h6>

            <script>
                    var i =0;
            </script>
            {% for i in All_Doctor %}
            {% if i.Speciality == "Gastroenterologist" %}
            <script>
                    i=i+1;


            </script>
            {% endif %}
            {% endfor %}

            <p>
                <script>
                    document.write(i)


                </script>
                Doctors
            </p>

        </section>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 p-0 mt-2 justify-content-between " style="float: left;">
        <section class="container bg-white py-2   text-center"
                 style="justify-content: space-around;justify-content: space-around;align-content: center;">
            <a href="/Doctors/Cardiologist">
                <img alt="cardiologist"
                     class="rounded doctor-listing-picture mp-event-listing-doctor-picture m-2" data-height="120"
                     data-on-error-src="https://h7u5d3a4.stackpathcdn.com/assets/images/doctor-photo-male.png"
                     data-width="120" height="120"
                     src='{% static "Speciality_img/cardiologist.svg" %}'
                     width="120">
            </a>
            <h6>Cardiologist</h6>
            <script>
                    var i =0;


            </script>
            {% for i in All_Doctor %}
            {% if i.Speciality == "Cardiologist" %}
            <script>
                    i=i+1;


            </script>
            {% endif %}
            {% endfor %}

            <p>
                <script>
                    document.write(i)


                </script>
                Doctors
            </p>
        </section>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 p-0 mt-2 justify-content-between " style="float: left;">
        <section class="container bg-white py-2   text-center"
                 style="justify-content: space-around;justify-content: space-around;align-content: center;">
            <a href="/Doctors/Psychiatrist">
                <img alt="psychologist"
                     class="rounded doctor-listing-picture mp-event-listing-doctor-picture m-2" data-height="120"
                     data-on-error-src="https://h7u5d3a4.stackpathcdn.com/assets/images/doctor-photo-male.png"
                     style="width:40%"
                     src='{% static "Speciality_img/psychologist.svg" %}'
                     width="120">
            </a>
            <h6>Psychologist</h6>
            <script>
                    var i =0;


            </script>
            {% for i in All_Doctor %}
            {% if i.Speciality == "Psychiatrist" %}
            <script>
                    i=i+1;


            </script>
            {% endif %}
            {% endfor %}

            <p>
                <script>
                    document.write(i)
                </script>
                Doctors
            </p>
        </section>
    </div>
    <br><br>
      <table class="borderless w-100">
          <tr>
              <td align="center">
        <a class="btn btn-outline-info text-center mx-auto" href="/view_specialities/"
           style="justify-content: space-around;justify-content: space-around;align-content: center;">
            View All Specialists
        </a>
              </td>
          </tr>
      </table>
    </section>
    <br><br>
</div>

